[run]
branch = True
omit = venv/*, **/test*.py, manage.py, utils/recipes/factory.py, utils/EX-forms.py,/authors/EX-forms.py
# coverage run -m --omit='*/venv/*' -m pytest 
# coverage run -m pytest 
# coverage html