{% if recipes.has_other_pages  %}
    <nav role="navigation" area-label="Pagination" class="container pagination">
        <div class="pagination-content">
            {% if pagination_range.first_page_out_of_range  %}
                <a area-label="Go to page 1" href="?page=1{{additional_url_query}}" class="page-link page-item">1</a>
                <span>...</span>

            {% endif %}
            {% for page in pagination_range.pagination  %}
                {% if pagination_range.current_page == page %}
                    <a area-label="Current page {{page}}" area-current="true" href="?page={{page}}{{additional_url_query}}" class="page-link page-item page_current">{{page}}</a>
                {% else %}
                     <a area-label="Go to page {{page}}" href="?page={{page}}{{additional_url_query}}" class="page-link page-item">{{page}}</a>
                {% endif %}
            {% endfor %}

             {% if pagination_range.last_page_out_of_range  %}
                <span>...</span>   
                <a area-label="Go to page {{pagination_range.total_pages}}" href="?page={{pagination_range.total_pages}}{{additional_url_query}}" class="page-link page-item">{{pagination_range.total_pages}}</a>
            {% endif %}
        </div>
    </nav>
{% endif %}