{% extends 'global/base.html' %}

 <title>{% block title %}Dashboard ({{user}}) |{% endblock title %}</title>

{% block content %}

<div class="main-content center container">
    <h2>Dashboard ({{user}})</h2>
    {% include 'authors/partials/login_message.html' %}

    <div class="authors-dashboard-container">
        <h3>Your recipes</h3>
        {% for recipe in recipes  %}
            <li>
                <a href="{% url "authors:dashboard_recipe_edit" recipe.id%}">{{recipe.title}}</a>
            </li>
        {% empty %}
            <li>
                <p> You do not have recipes. Please create one.</p>
            </li>
        {% endfor %}
    </div>

</div>

{% include "global/partials/message.html" %}

{% endblock content  %}